@page "/{tour}"
@inject ICategoryService CategoryService
@inject ITourService TourService
@inject NavigationManager NavigationManager

<div class="flex-container">
    @foreach (var t in TourService.Tours)
    {
        <MudCard Elevation="10" Square="true" Style="border-radius:10px;margin:1rem 0;">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">
                        <img    src="https://flagcdn.com/w80/gb.png"
                                alt="@t.Castle.Location.Country">
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@t.Name</MudText>
                    <MudText Typo="Typo.body2">@t.Castle.Location.Area</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Outlined.Info" OnClick="@(() => HandleOpenTour(t.Id))" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="@t.ImgUrl" Height="200" Title="@t.Name" />
            <MudCardContent Style="width:400px; min-height:75px;">
                <MudText Typo="Typo.body2">@t.Description</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Outlined.Info" OnClick="@(() => HandleOpenTour(t.Id))" />
                <MudIconButton Icon="@Icons.Filled.ShoppingCart" OnClick="@(() => HandleBuyTicket())" />
                <MudSpacer />
                <MudRating SelectedValue="@t.GetTourRating()" />
            </MudCardActions>
        </MudCard>
    }
</div>


@code {
    [Parameter] public string tour { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await TourService.LoadTours();
    }

    private void HandleOpenTour(int id)
    {
        NavigationManager.NavigateTo($"/tour/{id}");
    }

    private void HandleBuyTicket()
    {
        NavigationManager.NavigateTo("/");
    }
}
