@inject ICastleService CastleService

<ul class="list-unstyled">
   @foreach (var castle in CastleService.Castles)
   {
        <li class="media my-3 flex-container">
            <div class="media-img-wrapper mr-2">
                <a href="/castle/@castle.Id">
                    <img class="media-img" src="@castle.ImgUrl" alt="@castle.Name Image" />
                </a>
            </div>
            <div class="media-body mx-3">
                <a href="/castle/@castle.Id">
                    <h4 class="mb-0">@castle.Name</h4>
                </a>
                <h6 class="mb-0">@castle.Type</h6>
                <h6 class="mb-0">@castle.Condition</h6>
                <p>@castle.Summary</p>
            </div>
        </li>
   }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CastleService.LoadCastles();
    }
}
