@inject ILocalStorageService LocalStorage
@inject IToastService ToastService
@inject ICartService CartService
@inject StoreConfig StoreConfig

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@SelectedTour.Name</h5>
        <button type="button" class="btn-close" @onclick="OnClose"></button>
      </div>
      <div class="modal-body">
        <div>
            <h5>@SelectedTour.Name</h5>
            <h6><span class="oi oi-british-pound"></span> @SelectedTour.GetTicketPriceFormatted()</h6>
        </div>
        <br/>
        @if (SelectedTour.Addons.Count() > 0)
        {
            <div>
                <h5>Tour Extras</h5>
                @foreach (var i in SelectedTour.Addons)
                {
                    <input type="checkbox" id="@i.Id" @onclick="e => HandleAddonsCheckBox(i)">
                    <label for="@i.Id"> @i.Name $@i.GetFormattedPrice()pp </label><br />
                }
            </div>
            <br/>
        }
        <div>
            <label>Ticket QTY</label> &nbsp;
            <select id="ticketQty" @onchange="e => HandleTicketQtyUpdate(e)">
                @for (var i=1; i<=StoreConfig.MaxTicketQty; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div>
            <hr />
            <h5>Ticket total: <span class="oi oi-british-pound"></span> @HandleTicketCost()</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="OnClose">
            <i class="fas fa-times"></i>
        </button>
        <button type="button" class="btn btn-primary" @onclick="AddTicketToCart">
            <i class="fas fa-cart-arrow-down"></i> Add to cart
        </button>
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public Tour SelectedTour { get; set; }

    protected List<Addon> SelectedAddons = new List<Addon>();
    protected string customerName;
    protected string castleName;
    protected string tourName;
    protected string location;
    protected decimal ticketCost = 0.00m;
    protected int numberTickets = 1;

    protected override void OnInitialized()
    {
        customerName = null;
        castleName = SelectedTour.Castle.Name;
        tourName = SelectedTour.Name;
        location = SelectedTour.Castle.Location.GetFormattedLocation();
    }

    protected void HandleAddonsCheckBox(Addon addon)
    {
        var item = SelectedAddons.Find(i => i.Id == addon.Id);

        if (item != null) SelectedAddons.Remove(item);
        else SelectedAddons.Add(addon);
    }

    protected void HandleTicketQtyUpdate(ChangeEventArgs e)
    {
        numberTickets = Convert.ToInt32(e.Value);
    }

    protected string HandleTicketCost()
    {
        decimal addonsTotal = 0.00m;
        decimal tourCost = SelectedTour.GetTicketPrice();
        int ticketQty = numberTickets;

        foreach (var i in SelectedAddons) addonsTotal += i.Price;

        ticketCost = (tourCost + addonsTotal) * ticketQty;

        return ticketCost.ToString("0.00");
    }

    protected async Task AddTicketToCart()
    {
        Ticket TicketOrder = new Ticket()
        {
            Qty = numberTickets,
            TicketCost = ticketCost,
            SelectedTourName = tourName,
            CastleName = castleName,
            Location = location,
            TourAddons = SelectedAddons
        };

        await CartService.AddToCart(TicketOrder);

        //var cart = await LocalStorage.GetItemAsync<List<Ticket>>("cart");
        //if (cart == null) cart = new List<Ticket>();

        //cart.Add(TicketOrder);
        //await LocalStorage.SetItemAsync("cart", cart);
        //ToastService.ShowSuccess(TicketOrder.SelectedTourName, "Added to cart: ");
        OnClose.InvokeAsync();
    }
}
